* {
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}


/*HEADER*/

.header {
    min-height: 130px;
    user-select: none;
    margin-bottom: 15px;
}

.header .photo {
    background-image: url(img/header.png);
    height: 110px;
    margin-bottom: 1.5px;
}


/*name of shop*/

.name :first-child{
    margin-left: 15px;
    color: #66c3d0;
    z-index: 1;
    font-size: 30px;
    top: 90px;
    position: absolute;
    background: none;
}


/*logo*/

.logo {
    height: 37px;
    float: left;
    z-index: 1;
/*
    top: 0;
    position: relative;
*/
}


/*menu of site*/

.super_menu {
/*
    position: relative;
    top: 0;
*/
    background-color: #fcae41;
    color: #f8f8f8;
    z-index: 1;
}

.menu {
    z-index: 1;
    background-color: inherit;
    position: relative;
    margin-top:0;
    width: 580px;
    left: calc(100% - 637px);
}

.menu * {
    list-style: none;
    text-decoration: none;
    background-color: inherit;
    color: inherit;
    display: inline-grid;
    padding: 0;
    font-size: 20px;
    text-align: center;
    text-align-last: center;
}

.menu > a,
.menu > li {
    padding: 5px;
    width: 150px;
    height: 27px;
    border-left: 2px solid #f8f8f8;
}

.menu > li:last-of-type,
.menu > a:last-of-type {
    border-right: 2px solid #f8f8f8;
}

.menu > [selected] {
    color: #555;
}

.menu >:not([selected]):hover {
    background-color: #ff7021;
}


/*drop-down menu*/

.sub_menu {
    visibility: collapse;
    margin-top: 8px;
    margin-left: -5px;
    background-color: #fcae41;
}

.sub_menu li {
    width: 147.5px;
    height: 27px;
    padding: 6px;
    outline: 1px solid #fcae41;
    border-top: 1px solid #555;
}

.sub_menu {
    color: #f8f8f8;
}

.sub_menu [selected] {
    color: #555;
}

.menu > li:nth-child(2):hover {
    color: #f8f8f8;
}

.menu > li:nth-child(2):hover ul {
    visibility: visible;
}

.sub_menu a:hover {
    color: #555;
}


/*navigation*/

.navigation {
    font-size: 12px;
    color: #555;
    clear: both;
}


/*CONTENT*/


/*content->home*/

img {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 1000px;
}

p {
    text-align: justify;
    font-style: normal;
    font-size: 14px;
}

h4 {
    text-align: center;
    margin-top: 0;
}

.home {
    border: 1px solid blue;
    border-spacing: 0;
    margin: 0 auto;
}

.home td {
    border: 1px solid green;
    min-width: 100px;
    text-align: center;
    height: 30px;
}

.home tr:first-child {
    height: 50px;
}


/*catalog*/

.container {
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

.super_catalog > a {
    width: 200px;
    height: 300px;
    display: inline-block;
    margin: 5px;
    border: 1px solid #555;
    text-decoration: none;
}

.catalog,
.catalog * {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.catalog img {
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.catalog p {
    margin: 5px;
    height: 60px;
}

.catalog p:first-of-type::first-letter {
    color: goldenrod;
    font-family: URW Chancery L, cursive;
    font-size: 18px;
}

.catalog .btn {
    margin: 3px;
    background-color: #fcae41;
    color: #f8f8f8;
    text-align: center;
    height: 17px;
    padding: 5px;
}

.catalog:hover {
    box-shadow: 2px 2px 2px #66c3d0;
}


/*subcatalogs*/

.subcatalog h5 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.subcatalog p:nth-of-type(1) {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 2px;
    background-color: #555;
    float: left;
    margin: 0 15px 15px;
}

.subcatalog img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.subcatalog img:hover {
    outline: 3px solid #f8f8f8;
}


/*content shot diskription*/

.subcatalog p:nth-of-type(2) {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    margin: 0 40px 0 0;
    overflow: hidden;
}

.btn_buy {
    clear: both;
    margin: 0 0 0 16px;
    background: #fcae41;
    width: 301px;
    height: 30px;
    text-align: center;
    align-content: center;
    position: relative;
    outline: 1px solid black;
    cursor: pointer;
    user-select: none;  
}



.btn_buy div {
    text-decoration: none;
    background: inherit;
    color: #f8f8f8;
    font-size: 20px;
    position: absolute;
    margin: auto;
    width: 70px;
    height: 20px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.btn_buy:hover {
    outline: 1px solid #66c3d0;
}

.btn_buy:active div {
    color: #555;
}

.subcatalog table {
    border: 1px solid black;
    border-spacing: 0;
}

.subcatalog td {
    border: 1px solid black;
    min-width: 30px;
}

.subcatalog td:first-child {
    text-align: center;
}

.subcatalog p:nth-of-type(3) {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


/*contacts*/

#feedback fieldset {
    position: relative;
    width: 605px;
}

#feedback input:last-of-type {
    position: absolute;
    right: 55px;
    bottom: 7px;
    width: 100px;
    height: 28px;
}

#feedback [name="mail"] {
    height: 20px;
    min-width: 300px;
}

#feedback [name="name_question"] {
    height: 20px;
    max-width: 600px;
}

#feedback [name="question"] {
    height: 200px;
    max-width: 600px;
}

#feedback input,
#feedback textarea {
    color: #555;
    font-weight: 600;
    border: 1px solid #999;
}

#feedback input:focus {
    color: #222;
    font-weight: 600;
    background-color: antiquewhite;
}

#feedback textarea:focus {
    font-weight: 600;
}

#feedback textarea {
    text-transform: capitalize;
}

#feedback input:last-of-type:hover {
    background-color: #555;
    color: #f8f8f8;
}


/*FOOTER*/

.footer {
    margin-top: 15px;
    position: relative;
    height: 30px;
    background-color: #fcae41;
    user-select: none;  
}

.footer p {
    position: absolute;
    height: 18px;
    width: 155px;
    background-color: inherit;
    color: #f8f8f8;
    top: 0;
    bottom: 0;
    margin: auto 10px;
    right: 0;
}